@{
    Layout = "~/Views/Shared/_PatientNavbar.cshtml";
    ViewData["Title"] = "Patient";
}

@model dynamic

<div class="card mb-4 mt-5">
    <h5 class="card-header">Patient Profile</h5>
    <div class="card-body">
        <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img src="~/img/author1.jpg" alt="user-avatar" class="d-block rounded" height="100" width="100" id="uploadedAvatar">
            <div class="button-wrapper">
                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                    <span class="d-none d-sm-block">Upload new photo</span>
                    <i class="bx bx-upload d-block d-sm-none"></i>
                    <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg">
                </label>
                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                    <i class="bx bx-reset d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Reset</span>
                </button>

                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
            </div>
        </div>
    </div>
    <hr class="my-0">
    <div class="card-body">
        <form id="formPatientSettings" asp-controller="Patient" asp-action="PatientSaveChanges" method="post" onsubmit="return validateForm()">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-user-doctor"></i></span>
                        <input class="form-control" type="text" id="name" name="name" value="@Model.Patient.name" autofocus="">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-user-doctor"></i></span>
                        <input class="form-control" type="text" name="surname" id="surname" value="@Model.Patient.surname">
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                        <input class="form-control" type="text" id="email" name="email" value="@Model.Patient.email" >
                    </div>
                </div>

                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">Password</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <input class="form-control" type="password" id="password" name="password" value="@Model.Patient.password">
                    </div>
                </div>


                <div class="mb-3 col-md-6">
                    <label class="form-label" for="phoneNumber">Birthday</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-cake-candles"></i></span>
                        <input class="form-control" type="date" id="birthday" name="birthday" required pattern="\d{4}-\d{2}-\d{2}" value="@Model.Patient.birthday.ToString("yyyy-MM-dd")">
                    </div>
                </div>         

           


                <div class="mb-3 col-md-6">
                    <label class="form-label" for="country">City</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-earth-americas"></i></span>
                        <select id="states" name="states" class="form-select">
                            @foreach (var state in Model.States)
                            {
                                if (@state.id == @Model.Patient.location_id)
                                {
                                    <option selected="selected" value="@state.id">@state.name</option>
                                }
                                else
                                {
                                    <option value="@state.id"> @state.name </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                
                <div class="mb-3 col-md-6">
                    <label for="gender" class="form-label">Gender</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text"><i class="fa-solid fa-venus-mars"></i></span>
                        <select id="gender" name="gender" class="select2 form-select">
                            @foreach (var gender in Model.Gender)
                            {
                                if (@gender.id == @Model.Patient.gender_id)
                                {
                                    <option selected="selected" value="@gender.id">@gender.name</option>
                                }
                                else
                                {
                                    <option value="@gender.id"> @gender.name </option>
                                }
                            }
                        </select>
                    </div>
                </div>              
            </div>       

            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>

    function validateForm() {
        var name = document.getElementById('name').value;
        var surname = document.getElementById('surname').value;
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var birthday = document.getElementById('birthday').value;

        if (name.trim() === '') {
            alert('Name field cannot be empty!');
            return false;
        }

        if (surname.trim() === '') {
            alert('Surname field cannot be empty!');
            return false;
        }
        if (email.trim() === '') {
            alert('Email field cannot be empty!');
            return false;
        }
        if (password.trim() === '') {
            alert('Password field cannot be empty!');
            return false;
        }

        if (birthday.trim() === '') {
            alert('Birthday field cannot be empty!');
            return false;
        }

        /*
        var checkedPass = validatePassword(password);
        if (!checkedPass) {
            alert('The password must be at least 8 characters and contain at least 1 uppercase letter, 1 number and 1 special character.');
            return false;
        }
        */

        return true;
    }

    function validatePassword(password) {
        if (password.length < 8) {
            return false;
        }

        var uppercaseRegex = /[A-Z]/;
        if (!uppercaseRegex.test(password)) {
            return false;
        }

        var digitRegex = /[0-9]/;
        if (!digitRegex.test(password)) {
            return false;
        }

        var specialCharacterRegex = /[!@@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
        if (!specialCharacterRegex.test(password)) {
            return false;
        }

        return true;
    }

</script>
