@{
    ViewData["Title"] = "Doctor Appointments";
    Layout = "~/Views/Shared/_DoctorNavbar.cshtml";
}

@model List<AppointmentViewModel>

<div class="card mb-4 mt-5">
    <h5 class="card-header">Appointments List</h5>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="input-group input-group-merge">
                    <span class="input-group-text">Search</span>
                    <input type="text" id="searchInput" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <br>
    @* active/cancelled filter *@
    <div class="dropdown">
        <button class="btn rounded-3 wrapper"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                data-hover="dropdown"
                aria-expanded="false" style="margin: 5px; padding: 5px; border-radius: 4px;">
            <i class="fa-solid fa-filter"></i>
            <span>Filter</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" onclick="filterAll()">All</a>
            </li>
            <li>
                <a class="dropdown-item" onclick="filterActive()">Active</a>
            </li>
            <li>
                <a class="dropdown-item" onclick="filterCancelled()">Cancelled</a>
            </li>
        </ul>
    </div>
    <br>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="text-center">
                    <th>Patient Full Name</th>
                    <th>Patient Birthday</th>
                    <th>Appointments Date</th>
                    <th>Appointments Time</th>
                    <th>Appointments Status</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody id="doctorBody" class="table-border-bottom-0">

                @foreach (var item in Model)
                {
                    <tr class="text-center align-middle">
                        <td>
                            <ul class="m-0 d-flex align-items-center">
                                <li class="avatar avatar-xs pull-up">
                                    <img src="/@item.PatientProfileImgPath" alt="Avatar" class="rounded-circle" style="width: 60px;height: 60px;"> &nbsp;&nbsp; @item.PatientName @item.PatientSurname
                                </li>
                            </ul>
                        </td>
                        <td>@item.PatientBirthday.ToString("yyyy-MM-dd")</td>
                        <td>@item.Date.ToString("yyyy-MM-dd")</td>
                        <td>@item.Time</td>

                        @if (@item.IsCancelled)
                        {
                            <td><span class="badge bg-danger">Cancelled</span></td>
                        }
                        else
                        {
                            <td><span class="badge bg-success">Active</span></td>
                        }

                        <td>
                            @if (!@item.IsCancelled)
                            {
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                        data-bs-target=@string.Format("#detailModal{0}", @item.AppointmentId) style="margin: 5px; padding: 5px; border-radius: 4px;">
                                    <i class="fa-solid fa-circle-info"></i> Detail
                                </button>
                            }
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        @foreach (var item in Model)
        {
            <div class="modal fade" id="@string.Format("detailModal{0}", @item.AppointmentId)" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="detailModalLabel">Appointments Detail</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th>Patient Full Name</th>
                                        <th>Patient Email</th>
                                    </tr>
                                </thead>
                                <tbody id="patientBody" class="table-border-bottom-0">
                                    <tr>
                                        <td>@item.PatientName @item.PatientSurname</td>
                                        <td>@item.PatientEmail</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" style="color: white" asp-controller="Doctor" asp-action="Training" asp-route-id="@item.AppointmentId"> <i class="fa-solid fa-file-audio"></i> &nbsp; Go Patient's Trainings</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

            <script>$(document).ready(function () {
                    $("#searchInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#doctorBody tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });</script>

            @* active/cancelled filter *@
            <script>function filterAll() {
                    var table, tr, i, j;
                    table = document.getElementById("doctorBody");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td");
                        for (j = 0; j < td.length; j++) {
                            tr[i].style.display = "";
                        }
                    }
                }

                function filterActive() {
                    var status, found, table, tr, td, i, j;
                    status = "Active";
                    table = document.getElementById("doctorBody");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td");
                        for (j = 0; j < td.length; j++) {
                            if (td[j].textContent == status) {
                                found = true;
                            }
                        }
                        if (found) {
                            tr[i].style.display = "";
                            found = false;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }

                function filterCancelled() {
                    var status, found, table, tr, td, i, j;
                    status = "Cancelled";
                    table = document.getElementById("doctorBody");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td");
                        for (j = 0; j < td.length; j++) {
                            if (td[j].textContent == status) {
                                found = true;
                            }
                        }
                        if (found) {
                            tr[i].style.display = "";
                            found = false;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }</script>
