@{
    ViewData["Title"] = "Doctor Appointments";
    Layout = "~/Views/Shared/_DoctorNavbar.cshtml";
}

@model List<AppointmentViewModel>

<div class="card mb-4 mt-5">
    <h5 class="card-header">Appointments List</h5>
    <br>
    <div class="input-group input-group-merge">
        <span class="input-group-text">Search</span>
        <input type="text" id="searchInput" class="form-control">
    </div>
    <br>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="text-center">
                    <th>Patient Full Name</th>
                    <th>Patient Birthday</th>
                    <th>Appointments Date</th>
                    <th>Appointments Time</th>
                    <th>Appointments Status</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody id="doctorBody" class="table-border-bottom-0">

                @foreach (var item in Model)
                {
                    <tr class="text-center align-middle">
                        <td>
                            <ul class="m-0 d-flex align-items-center">
                                <li class="avatar avatar-xs pull-up">
                                    <img src="/@item.PatientProfileImgPath" alt="Avatar" class="rounded-circle"> &nbsp;&nbsp; @item.PatientName @item.PatientSurname
                                </li>
                            </ul>
                        </td>
                        <td>@item.PatientBirthday.ToString("yyyy-MM-dd")</td>
                        <td>@item.Date.ToString("yyyy-MM-dd")</td>
                        <td>@item.Time</td>

                        @if (@item.IsCancelled)
                        {
                            <td><span class="badge bg-danger">Cancelled</span></td>
                        }
                        else
                        {
                            <td><span class="badge bg-success">Active</span></td>
                        }

                        <td>
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target=@string.Format("#detailModal{0}", @item.AppointmentId)>Detail</button>
                        </td>
                    </tr>

                    <div class="modal fade" id="@string.Format("detailModal{0}", @item.AppointmentId)" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="detailModalLabel">Appointments Detail</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>@item.PatientName @item.PatientSurname</p>
                                    <p>@item.PatientEmail</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Go Trainıngs</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }  

            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#doctorBody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>